@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?ggw6jz');
  src:  url('fonts/icomoon.eot?ggw6jz#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?ggw6jz') format('truetype'),
    url('fonts/icomoon.woff?ggw6jz') format('woff'),
    url('fonts/icomoon.svg?ggw6jz#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-wuliu:before {
  content: "\e937";
}
.icon-message3:before {
  content: "\e935";
}
.icon-message2:before {
  content: "\e936";
}
.icon-message:before {
  content: "\e934";
}
.icon-select:before {
  content: "\e933";
}
.icon-servie3:before {
  content: "\e932";
}
.icon-service2:before {
  content: "\e931";
}
.icon-bad:before {
  content: "\e929";
}
.icon-good:before {
  content: "\e92a";
}
.icon-middle:before {
  content: "\e92b";
}
.icon-service-22:before {
  content: "\e92c";
}
.icon-unbad:before {
  content: "\e92d";
}
.icon-ungood:before {
  content: "\e92e";
}
.icon-unmiddle:before {
  content: "\e92f";
}
.icon-unpaid-22:before {
  content: "\e930";
}
.icon-location:before {
  content: "\e928";
}
.icon-paid:before {
  content: "\e921";
}
.icon-paid2:before {
  content: "\e922";
}
.icon-paid3:before {
  content: "\e923";
}
.icon-service-2:before {
  content: "\e924";
}
.icon-service:before {
  content: "\e925";
}
.icon-unpaid-2:before {
  content: "\e926";
}
.icon-unpaid:before {
  content: "\e927";
}
.icon-shoppingcart:before {
  content: "\e920";
}
.icon-cart:before {
  content: "\e91f";
}
.icon-code:before {
  content: "\e900";
}
.icon-dayschage:before {
  content: "\e901";
}
.icon-dayschange:before {
  content: "\e902";
}
.icon-add:before {
  content: "\e903";
}
.icon-advise:before {
  content: "\e904";
  color: #4e4e4e;
}
.icon-attachment:before {
  content: "\e905";
}
.icon-check:before {
  content: "\e906";
}
.icon-collection:before {
  content: "\e907";
}
.icon-collection2:before {
  content: "\e908";
}
.icon-comment:before {
  content: "\e909";
}
.icon-delete:before {
  content: "\e90a";
}
.icon-edite:before {
  content: "\e90b";
}
.icon-goldensupply:before {
  content: "\e90c";
}
.icon-liked:before {
  content: "\e90d";
}
.icon-liked2:before {
  content: "\e90e";
}
.icon-logistics:before {
  content: "\e90f";
}
.icon-me:before {
  content: "\e910";
}
.icon-qualityguarantee:before {
  content: "\e911";
}
.icon-refresh:before {
  content: "\e912";
}
.icon-searchlight:before {
  content: "\e913";
}
.icon-searchsmall:before {
  content: "\e914";
}
.icon-selected:before {
  content: "\e915";
}
.icon-sharesmall:before {
  content: "\e916";
}
.icon-shop:before {
  content: "\e917";
}
.icon-shopcart:before {
  content: "\e918";
}
.icon-unchecked:before {
  content: "\e919";
}
.icon-unselected:before {
  content: "\e91a";
}
.icon-wxbhome:before {
  content: "\e91b";
}
.icon-zan:before {
  content: "\e91c";
}
.icon-zan2:before {
  content: "\e91d";
}
.icon-zaned:before {
  content: "\e91e";
}
